* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: rgb(6, 29, 29);
    color: antiquewhite;
    height: 4rem;
    line-height: 4rem;
}

.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(19, 17, 17);
}
 
img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 3.5rem;
}

.msg-container{
    margin-top: 4rem;
}

#msg{
    background-color: rgb(17, 20, 14);
    color: antiquewhite;
    font-size: 2rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;

}